*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    background-color: bisque;
    min-height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    h1{
        font-size: 4rem;
    }
    .sayac{
        font-size: 4rem;
        border: 1px solid black;
        border-radius: 20px;
        padding: 7rem 5rem;
        background-color: rgb(237, 237, 223);
    }
    .btns{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        button{
            width: 200px;
            cursor:pointer;
            padding: 10px 1rem;
            font-size: 1.5rem;
            color: white;
            
        }
        .plus{
            background-color: green;
        }
        .minus{
            background-color: red;
        }
        .reset{
            background-color: gray;
        }

    }
}